* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Poppins", "Roboto Mono", "Nunito", "Concert One",
    "Assistant";
}

body {
  margin-top: 15vh;
}

.logo img {
  height: 50px;
  width: 50px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  padding-inline: 4rem;
  height: 11vh;
  font-family: "Poppins";
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 30em;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding-block: 32px;
}

nav a:hover {
  border-bottom: 3px solid #f54e77;
}

nav sup {
  font-size: 0.7em;
  color: red;
  font-weight: 600;
}

.searchbar {
  border-radius: 4px;
  background-color: #f5f5f6;
  padding-inline: 10px;
  display: flex;
  width: 510px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.searchbar:hover {
  border: 1px solid #e3e3e3;
  background: none;
}

.searchbar span {
  color: #909090;
  font-size: 21px;
}

.searchbar input {
  flex-grow: 1;
  height: 40px;
  background: none;
  outline: none;
  border: none;
}

.actionbar {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25px;
  cursor: pointer;
  padding-right: 8px;
  padding-top: 8px;
  position: relative;
}

.actionbar span {
  font-size: 23px;
  font-weight: 200;
}

.actionText {
  font-family: "Assistant";
  font-weight: 700;
  line-height: 10px;
  font-size: 12px;
}

#cart {
  text-decoration: none;
  color: black;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f54e77;
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Assistant";
}

/*main*/
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px auto;
  width: 95%;
}

.item-container {
  margin: 21px;
  border-radius: 5px;
  width: 200px;
}

.item-image {
  width: 100%;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.brand-name {
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
  color: #282c3f;
}

.item-name {
  color: #535766;
  font-size: 14px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.price {
  font-size: 14px;
  color: #282c3f;
  margin: 10px 0px;
  white-space: nowrap;
}

.current-price {
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 5px;
  color: #7e818c;
  font-weight: 400;
}

.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 15px;
}

.cart-button {
  background-color: #1d955d;
  border: none;
  padding: 5px 15px;
  color: white;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #198754;
}

/* cart container */

.cart-container {
  /* display: none; */
  position: fixed;
  margin-top: 11vh;
  top: 0;
  right: 0;
  width: 100%;
  height: 89vh;
  background-color: white;
  overflow: scroll;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.payment-details {
  background-color: #848fb8;
  width: 25%;
}

/* cart item template */
.cart-item-template {
  display: flex;
  gap: 15px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

.cart-item-image {
  width: 20%;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
}

.cart-brand-name {
  font-size: 16px;
  font-weight: 700;
  color: #282c3f;
}
.cart-item-name {
  color: #535766;
  font-size: 14px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.cartitem-seller-name {
  color: #a1a5af;
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.cart-and-quantity {
  display: flex;
  width: max-content;
  gap: 12px;
  font-size: 14px;
  font-weight: 700;
  margin-block: 8px;
}

.cartitem-size,
.cartitem-quentity {
  background-color: #f5f5f6;
  padding: 3px 8px;
  border-radius: 3px;
}

.cart-price {
  font-size: 14px;
  color: #282c3f;
  margin: 10px 0px;
  white-space: nowrap;
}

.cartitem-current-price {
  font-weight: 700;
}

.cartitem-original-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 5px;
  color: #7e818c;
  font-weight: 400;
}

.cartitem-discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 15px;
}

.cartitem-return-tag {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.cartitem-return-tag span {
  font-weight: 700;
}

#return-symbol {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  transform: rotatex(180deg);
}
